* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: rgb(10, 16, 30);
}

.navbar {
    background-color: transparent !important;
}

.nav-link {
    color: #ffffff !important;
}

.d-text {
    color: rgb(255, 193, 0);
}

.navbar-brand {
    color: white;
    font-size: 2rem;
}

#main-area {
    background: url("../Assets/images/main-image.jpg") no-repeat center center/cover;
    height: 100vh;
    width: auto;
    justify-content: center !important;
}

.container1 {
    height: auto;
    width: 100vh;
    justify-content: center;

}

#profile-picture {
    margin-top: 100px;
    height: 200px;
    width: 200px;
    border-color: brown;
}

.text-area {
    color: white;
    align-items: center;
    padding-top: 10px;
}

#about-area {
    height: 100vh;
    width: auto;
}

section {
    height: 100vh;
    width: auto;
}

.fa-brands {
    color: white !important;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    border-radius: 3px;
    border-color: white;
}

.head {
    color: rgb(255, 193, 0);
}


.img-fluid {
    height: auto;
    width: 65vh;
}

.greeting {
    color: white;
}

.role {
    color: rgb(255, 193, 0);
}

.text {
    color: grey;
}

.card-area {
    padding: 5em;
}

.card-img {
    transition: all 0.4s ease;
    border: 1px solid #232935;
    background-color: #101624;
    color: white;
    border-radius: 1px;
    height: auto;
    width: 50%;
}

.card {
    border: 1px solid #232935;
    background-color: #101624;
    justify-content: center;
    /*padding-bottom: 2em;*/
}

.card-body {
    color: white;
}

.progress {
    height: 5px;
    width: 100%;
}

.lable {
    justify-content: space-between;
}

/*Animation*/
.skill-area {
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-name: fadeInLeft;
}

.progress-bar {
    background-color: rgb(255, 193, 0);
}

svg {
    vertical-align: middle;
    overflow: hidden;
}

/**/

/*.container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    padding: 50px;*/
/*}*/
/*.col {*/
/*    width: 50%;*/
/*    padding: 20px;*/
/*    position: relative;*/
/*}*/
.header {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.resume-timeline {
    position: relative;
    margin-left: 50px; /* Adjust this to position the timeline correctly */
}

.resume-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9px; /* Center the line with the dot */
    width: 2px;
    background: #ffffff;
    transition: background-color 0.3s ease-in-out;
}

.resume-timeline-dot {
    position: absolute;
    top: 20px; /* Center the dot vertically */
    left: 0; /* Center the dot on the vertical line */
    width: 18px;
    height: 18px;
    background-color: #fbbd08;
    border-radius: 50%;
    border: 2px solid #1a1a1a; /* Border to match the background */
}

.resume-timeline-content {
    padding-left: 40px; /* Space between the line and content */
}

.resume-timeline-title {
    font-size: 1.5em;
    color: #fbbd08;
}

.resume-timeline-sub-title {
    font-size: 1em;
    margin: 5px 0;
}

.resume-timeline-sub-title {
    font-size: 0.9em;
    color: #b8b8b8;
}

.icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 10px solid #232935
}

.icon-img {
    margin-right: 10px;
}

